{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>fast-delivery</title>
   
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/products/">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/cooperation/">Cooperation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/information/">Information</a>
                </li>
            </ul>     
        </div>
    </nav>
   {% block content %}
   {% endblock %} 

</body>
</html>
